/* reset _____________________________________________________________*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

a :not(.button):not(.button-nav):not(ul.top-links>li) {
    color: var(--color-blue-buttons-color)
}

/* font _______________________________________________________________*/

body {
    font-family: ;
}


.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.colblock1 {
    height: 550px;
    display: flex;
    flex-direction: column;
}

.upline {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.lyer>a {
    margin-top: 40px;
}

.line {
    display: block;
    margin-left: 30px;
    flex-direction: column;
    width: 50px;
    border: 1px solid lightgrey;
}

.top-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

a {
    text-decoration: none;
    color: grey;
}




/* strumenti _________________________________________________________*/

.debugz {
    border: 1px solid red;
}

.left-padding-10px {
    padding-left: 10px;
}

.top-padding-20px {
    padding-top: 20px;
}

.relative-for-kids {
    position: relative;
}


/* assets ____________________________________________________________*/

section {
    padding: 0 10px;
}

.big-cont {
    width: 100%;
}

#con2 {
    margin-bottom: 0;
}

.cont {
    max-width: 1000px;
}

.small-cont {
    max-width: 800px;
}

#sec2 {
    background-color: var(--color-jambo-backgrownd);
    padding: 50px 10px 0px;
    margin-bottom: 0;
}

#sec3 {
    padding-top: 100px
}

#sec4 {
    padding 20px;
}

#sec5 {
    padding: 100px 20px;
}


#sec9 {
    background-color: var(--color-call-act-bg);
    padding: 150px 10px;
}

#sec10 {
    padding: 100px 10px;

    
}

#sec6, #sec7 {
    padding: 50px 10px;
}

#sec11 {
    padding: 80px 10px 40px;
}

.big-cont:not(#con1,#con8), .cont, .small-cont {
    margin: 0 auto; 
}

.keep-under {
    text-decoration: underline;
}



h1 {
    font-size: 400%;
    margin-top: 50px
}

h2 {
    font-size: 300%;
    padding-bottom: 80px;
}

h3 {
    font-size: 200%;
}

.h3sec3 {
    padding-bottom: 20px;
} 

il {
    display: block;
    padding: 5px 0;
}

.ulsec3 {
    display: flex;
    flex-direction: column;


}

ul.ulsec3>li {
    padding: 10px 0;    
}


h4, p {
    padding-bottom: 20px;
}

.button {
    display: block;
    font-size: 0.8em;
    padding: 10px 30px;
    margin: 10px 0;
    text-align: center;
}

#button-nav {
    display: inline-block;
    padding: 5px 5px;
    margin: 15px 0 10px 30px;
    height: 30px;
    width: 60px;
    text-align: center;
}

.button:hover, #button-nav:hover {
    opacity: 0.8;
}


.blue-button {
    color: white;
    background-color: var(--color-blue-buttons-color);
}

.white-button {
    border: 2px solid grey;
    color: black;
    background-color: var(--color-white-button-color);
}

/* custom variables ______________________________________________________*/

:root {
	--color-jambo-backgrownd: #b4d0e7;
	--color-blue-buttons-color: #0061ff;
	--color-sq1-bg: #a2d39b;
	--color-sq1-bor: #d1e9cd;
	--color-sq2-bg: #61082b;
	--color-sq3-bg: #0093ce;
	--color-sq4-bg: #ff1c1c;
	--color-sq5-bg: #d5001f;
	--color-sq6-bg: #b4d0e7;
	--color-sq7-bg: #0d2481;
	--color-sq8-bg: #ffd830;
	--color-call-act-bg: #b4d0e7;
	--color-footer-bg: #000000;
	--color-white-button-color: #ffffff;
}

/* header ________________________________________________________________*/

header {
    color: grey;
    box-shadow: 0 0 10px 0 gray;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
}



#logo {
    padding: 10px 20px 10px 0;
    margin-top: 5px
}


ul.top-links>li:hover {
    border-bottom: 1px solid grey;
}



ul.bottom-links>li>a {
    height: 100%;
}

ul.top-links>li>a {
    display:block;
    height: 100%;
    margin-top: 20px;
    padding: 0 10px;

}

div#con1>div>div>h2 {
    padding: 0 10px;
}

#con1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-links {
    display: flex;
    
}


/* main ________________________________________________________________*/



#freccia {
    font-size: 300%;
    align-self: flex-end;
    color: black;
    padding-bottom: 10px;
    position: absolute;
    top: 100px

}

#jumbo-img {
    top: 40px;
}

#up-arrow {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#jumbo-img {
    display: flex;
    align-self: flex-start;
    position: relative;
    width: 70%;
    height: auto;
}

.jumbo-text {

    padding-top: 10px;
}

#jumbo-button {
    padding: 10px 30px;
}

.column-title {
    place-content: center;
    border-bottom: 1px solid gray;
}

.nice-grey-border {
    border: 1px solid lightgrey;
}



#enter-button-box {
    padding: 30px;
}

.row-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}

.row-6 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-3 {
    border: 1px solid lightgray;
    width: calc((100% - 40px) / 3);
    min-width: 30%;
}

.name {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}



.col-6 {
    width: calc((100% - 100px) / 3);
    margin-top: 20px;
}

div.col-6>h3 {
    padding: 20px 0;
}



#talk-guys {
    width: calc(70% - 20px);
}

#guys-text-box {
    width: calc(30% - 20px);
}

div#con7>* {
    padding: 50px 0;
}

#con7 {
    padding-bottom: 100px;
}

#enterprise-text {
    width: 70%;
}

#enterprise-text, .plan {
    padding: 30px;
    position: relative;
}

.col>*, .enterprise-box>* {
    padding-bottom: 25px;
}

div.row>div.col>div>ul {
    margin-top: 30px;
}




.square {
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
    /* height: calc(100% / 3vp); */
}

.inner-square {
    width: calc(100% / 2);
    padding: 50px;
    aspect-ratio: 1 / 1;
}


svg {
    width: 50%;
}

select {
    padding: 20px 0;
    border: none;
    border-top: 2px solid white;
}

#footer-select {
    background-color: #000000;
    color: white;
    margin-top: 100px;
}

.faq-line {
    border-top: 1px solid black;
}



/* footer ________________________________________________________________*/

footer {
    background-color: var(--color-footer-bg);
    color: white;
}

ul.bottom-links>li>a {
    color: white;
}

ul.bottom-links>li {
    padding: 10px 0;
}

.footer-title {
    padding-bottom: 40px;
}

/* check box ___________________________________________________from w3s__*/

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding: 0 55px 0 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 20px 0 10px;
}
  
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* flexing _______________________________________________________________*/

.flex {
    display: flex;
}

.gap {
    gap: 40px;
}

.justify-content-left {
    justify-content: flex-start;
}

.space-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.column-flex {
    flex-direction: column;
}
.dropown {
    display: none;
}


/* Bonus ____________________________________________________________________*/

li:hover ~ .dropdown {
    display: block;
}