/* reset _____________________________________________________________*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

/* strumenti _________________________________________________________*/

.debug {
    border: 1px solid red;
}


/* assets ____________________________________________________________*/

.big-container {
    width: 100%;
}

.container {
    max-width: 1200px;
}

.small-container {
    max-width: 800px;
}

.big-container, .container, .small-container {
    margin: 0 auto;
}



/* header ________________________________________________________________*/

header {
    /* color: white; */
}

#con1 {
    display: flex;
    justify-content: space-between;
}

.top-nav {
    display: flex;
}

.top-links {
    display: flex;
}


/* main ________________________________________________________________*/

tbody>tr>td {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

/* footer ________________________________________________________________*/


/* flexing ________________________________________________________________*/

.flex {
    display: flex;
}



