/* reset _____________________________________________________________*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

.big-container {
    width: 100%;
}

.container {
    max-width: 1200px;
}

.small-container {
    max-width: 800px;
}

.big-container, .container, .small-container {
    margin: 0 auto;
}